extends ../layout.pug

block content
  h1.text-center.mt-4 Lista de Admisiones
  div.container.mt-4
    table.table.table-striped.table-hover
      thead
        tr
          th ID
          th Paciente
          th Fecha de Admisión
          th Tipo de Admisión
          th Estado
          th Acciones
      tbody
        if admisiones.length > 0
          each admision in admisiones
            tr
              td= admision.id
              td= admision.paciente
              td= admision.fecha_admision
              td= admision.tipo_admision
              td= admision.estado
              td
                a.btn.btn-primary.btn-sm(href=`/admisiones/${admision.id}`) Ver
                a.btn.btn-warning.btn-sm.ms-2(href=`/admisiones/editar/${admision.id}`) Editar
                form(action=`/admisiones/eliminar/${admision.id}` method="POST" style="display:inline")
                  button.btn.btn-danger.btn-sm.ms-2(type="submit") Eliminar
        else
          tr
            td.text-center(colspan="6") No hay admisiones registradas