//- views/admisiones/nuevo.pug
extends ../layout.pug

block content
  .container.mt-4
    h1.text-center Nueva Admisión
    .card.shadow
      .card-body
        if error
          .alert.alert-danger= error

        form(action="/admisiones/nuevo" method="POST")
          .row.g-3
            //- Selección de Paciente
            .col-md-6
              label.form-label(for="paciente_id") Paciente:
              select.form-select(name="paciente_id" required)
                option(value="") Seleccione un paciente...
                each paciente in pacientes
                  option(value=paciente.id)= `${paciente.nombre} ${paciente.apellido} (DNI: ${paciente.dni})`

            //- Selección de Cama Disponible
            .col-md-6
              label.form-label(for="cama_id") Cama:
              select.form-select(name="cama_id" required)
                option(value="") Seleccione una cama...
                each cama in camas
                  option(value=cama.id)= `Cama ${cama.numero_cama} - Sala ${cama.Sala.numero_sala} (${cama.Sala.ala})`

            //- Tipo de Admisión
            .col-md-6
              label.form-label(for="tipo_admision") Tipo de Admisión:
              select.form-select(name="tipo_admision" required)
                option(value="Programada") Programada
                option(value="Emergencia") Emergencia
                option(value="Derivada") Derivada

            //- Motivo
            .col-md-12
              label.form-label(for="motivo") Motivo:
              textarea.form-control(name="motivo" rows="3" required)

          .mt-4
            button.btn.btn-success(type="submit") Guardar
            a.btn.btn-secondary.ms-2(href="/admisiones") Cancelar