extends ../layout.pug

block pageTitle
  | Editar Evaluación de Enfermería

block content
  .container.mt-4
    .card.shadow.mb-4
      .card-body
        h2.text-center.mb-4 Editar Evaluación de Enfermería
        form(action=`/eva_enfermeria/editar/${evaluacion.id}` method="POST")
          .mb-3
            label.form-label Admisión:
            input.form-control(type="text" value=`Admisión ${evaluacion.admision_id} - ${evaluacion.Admision.Paciente.nombre}` readonly)
          .mb-3
            label.form-label Signos Vitales:
            .row
              .col
                input.form-control(type="text" name="ta" placeholder="Tensión Arterial (mmHg)" required value=ta)
              .col
                input.form-control(type="text" name="fc" placeholder="Frecuencia Cardíaca (lpm)" required value=fc)
              .col
                input.form-control(type="text" name="temp" placeholder="Temp (°C)" required value=temp)
              .col
                input.form-control(type="text" name="sato2" placeholder="SatO2 (%)" required value=sato2)
          .mb-3
            label.form-label(for="sintomas") Síntomas:
            textarea.form-control(name="sintomas" rows="3" required)= evaluacion.sintomas
          .mb-3
            label.form-label(for="plan_cuidado") Plan de Cuidado:
            textarea.form-control(name="plan_cuidado" rows="3" required)= evaluacion.plan_cuidado
          button.btn.btn-primary.mt-3(type="submit") Guardar Cambios
          a.btn.btn-secondary.mt-3.ms-2(href="/eva_enfermeria") Cancelar