extends ../layout.pug

block content
  .container.mt-4
    h1.text-center Evaluaciones de Enfermería
    a.btn.btn-success.mb-3(href="/eva_enfermeria/nuevo") Nueva Evaluación
    if error
      .alert.alert-danger= error
    if evaluaciones.length > 0
      table.table.table-striped
        thead
          tr
            th Fecha
            th Paciente
            th Signos Vitales
            th Síntomas
            th Plan de Cuidado
        tbody
          each evaluacion in evaluaciones
            tr
              td= evaluacion.fecha_evaluacion ? evaluacion.fecha_evaluacion.toLocaleDateString() : ''
              td= evaluacion.Admision && evaluacion.Admision.Paciente ? `${evaluacion.Admision.Paciente.nombre} ${evaluacion.Admision.Paciente.apellido}` : 'Sin paciente'
              td= evaluacion.signos_vitales
              td= evaluacion.sintomas
              td= evaluacion.plan_cuidado
    else
      p.text-center No hay evaluaciones registradas.