extends ../layout.pug

block content
  h1.text-center.mt-4 Lista de Pacientes
  div.container.mt-4
    div.d-flex.justify-content-between.mb-3
      h2.text-start Pacientes Registrados
      a.btn.btn-success(href="/pacientes/nuevo") Agregar Nuevo Paciente
    table.table.table-striped.table-hover
      thead
        tr
          th DNI
          th Nombre
          th Apellido
          th Género
          th Teléfono
          th Historial Médico
          th Acciones
      tbody
        if pacientes.length > 0
          each paciente in pacientes
            tr
              td= paciente.dni
              td= paciente.nombre
              td= paciente.apellido
              td= paciente.genero
              td= paciente.telefono
              td
                if paciente.historial_medico && paciente.historial_medico !== 'Sin antecedentes médicos relevantes'
                  span.text-dark Con antecedentes médicos relevantes
                else
                  span.text-dark Sin antecedentes médicos relevantes
              td
                a.btn.btn-primary.btn-sm(href=`/pacientes/antecedentes/${paciente.id}`) Ver
                a.btn.btn-warning.btn-sm.ms-2(href=`/pacientes/editar/${paciente.id}`) Editar
                form(action=`/pacientes/eliminar/${paciente.id}` method="POST" style="display:inline")
                  button.btn.btn-danger.btn-sm.ms-2(type="submit") Eliminar
        else
          tr
            td.text-center(colspan="9") No hay pacientes registrados