extends ../layout.pug

block content
  h1 Lista de Pacientes
  table
    thead
      tr
        th DNI
        th Nombre
        th Apellido
        th Género
        th Dirección
        th Teléfono
        th Contacto de Emergencia
        th Historial Médico
        th Acciones
    tbody
      if pacientes.length > 0
        each paciente in pacientes
          tr
            td= paciente.dni
            td= paciente.nombre
            td= paciente.apellido
            td= paciente.genero
            td= paciente.direccion
            td= paciente.telefono
            td= paciente.contacto_emergencia
            td= paciente.historial_medico
            td
              a(href=`/pacientes/${paciente.id}`) Ver
              a(href=`/pacientes/editar/${paciente.id}`) Editar
              form(action=`/pacientes/eliminar/${paciente.id}` method="POST" style="display:inline")
                button(type="submit") Eliminar
      else
        tr
          td(colspan="8") No hay pacientes registrados